body {
    background-color: #04C4D9;
}
a {
  text-decoration: none;
}
h3 {
  font-family: Gloria Hallelujah;
}
#dropDown {
  margin-left: 35px;
}
#homeDiv {
  display: flex;
  justify-content: space-between;
}
.mainDiv {
  display: flex;
  justify-content: space-around;
}

#tattooDisplay {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 60px;
}
#form {
  width:250px;
  height: 350px;
  background-color: #ff4d00;
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;
  margin: 75px;
  border: 4px solid #F2D43D;
  border-radius: 15%;
  margin-top: 100px;
}
#ink1 {
  height: 50px;
  width: 50px;
}

#tatFont {
  font-size: 2.5rem;
  text-align: center;
}
#tatFont3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 60px;
}
#mainHomer {
  margin: auto;
  height: 800px;
}
#tattooDisplay {
height: 600px;
margin-left: 10px;
margin-top: 20px;
}
#foot {
text-align: center;
font-size: 1.5rem;
margin-top: 50px;
font-family: Gloria Hallelujah;
}

#tatGun {
  margin: 35px 40px;
}

.fade-in-image-2 {
    font-size: 6.5rem;
    font-family: Nabla;
    color: black;
   text-align: center;
   text-shadow:3px 3px #ff4d00;

    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    font-family: Nabla;
    font-size: 6.5rem;
    text-align: center;
    text-shadow:3px 3px #ff4d00;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    font-family: Nabla;
    font-size: 5.5rem;
    text-align: center;
    text-shadow:3px 3px #ff4d00;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#loginPic {
   display: block;
   margin: auto;
   width: 600px;
   height: 700px;
}
#homerWelcome {
    display: block;
    margin: auto;
}
#homeDiv {
  display: flex;
}
.btn {
    background: #ff4d00;
    background-image: -webkit-linear-gradient(top, #ff4d00, ff4d00);
    background-image: -moz-linear-gradient(top, #ff4d00, ff4d00);
    background-image: -ms-linear-gradient(top, #ff4d00, ff4d00);
    background-image: -o-linear-gradient(top, #ff4d00, ff4d00);
    background-image: linear-gradient(to bottom, #ff4d00, ff4d00);
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    text-decoration: none;
  
    font-family: Gloria Hallelujah;
    color: #F2D43D;
    font-size: 43px;
    padding: 7px 20px 10px 20px;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 50px;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  #dropDown {
    background: #ff4d00;
    background-image: -webkit-linear-gradient(top, #ff4d00, ff4d00);
    background-image: -moz-linear-gradient(top, #ff4d00, ff4d00);
    background-image: -ms-linear-gradient(top, #ff4d00, ff4d00);
    background-image: -o-linear-gradient(top, #ff4d00, ff4d00);
    background-image: linear-gradient(to bottom, #ff4d00, ff4d00);
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    text-decoration: none;
  
    font-family: Gloria Hallelujah;
    color: #F2D43D;
    font-size: 43px;
    padding: 7px 20px 10px 20px;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  #dropDown:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  #newBtn {
  
      background: #ff4d00;
      background-image: -webkit-linear-gradient(top, #ff4d00, ff4d00);
      background-image: -moz-linear-gradient(top, #ff4d00, ff4d00);
      background-image: -ms-linear-gradient(top, #ff4d00, ff4d00);
      background-image: -o-linear-gradient(top, #ff4d00, ff4d00);
      background-image: linear-gradient(to bottom, #ff4d00, ff4d00);
      -webkit-border-radius: 30;
      -moz-border-radius: 30;
      border-radius: 30px;
      text-decoration: none;
    
      font-family: Georgia;
      color: #F2D43D;
      font-size: 43px;
      padding: 7px 20px 10px 20px;
      text-decoration: none;
      margin-top: 50px;
      margin-bottom: 20px;
  }
    
  #newBtn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    
  }